<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.project.astour.model.dto.member.MemberVO" alias="MemberVO" />
		<typeAlias type="com.project.astour.model.dto.member.ProfileVO" alias="ProfileVO" />
		<typeAlias type="com.project.astour.model.dto.mypage.snsVO" alias="snsVO" />
		<typeAlias type="com.project.astour.model.dto.mypage.SnsFileVO" alias="SnsFileVO" />
		<typeAlias type="com.project.astour.model.dto.mypage.SnsReplyVO" alias="SnsReplyVO" />
		
	</typeAliases>

	<mappers>
		<mapper resource="mappers/snsMapper.xml"></mapper>
		<mapper resource="mappers/memberMapper.xml"></mapper>
		<mapper resource="mappers/attractionMapper.xml"></mapper>
		<mapper resource="mappers/mapMapper.xml"></mapper>
		<mapper resource="mappers/faqMapper.xml"></mapper>
		<mapper resource="mappers/calendarMapper.xml"></mapper>
	</mappers>
	
</configuration>

