<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->

<mapper namespace="map">
	<select id="Info"
		resultType="com.project.astour.model.dto.attraction.attraction_tbl">
		SELECT * FROM attraction_tbl
	</select>
	
	<select id="sigun"
		resultType="com.project.astour.model.dto.map.sigunVO">
		SELECT * FROM SIGUN
	</select>
	
	<select id="gunList"
		resultType="com.project.astour.model.dto.map.sigunVO">
		SELECT gun FROM SIGUN WHERE si = #{name}	
	</select>
	
	<!-- 예전본  #을 $로 바꿈 
	<select id="searchLocation"
		resultType="com.project.astour.model.dto.attraction.attraction_tbl">
		SELECT * FROM attraction_tbl WHERE acity like #{acity} and agu like #{agu} and asort like #{asort} and atitle like #{atitle}
			
	</select> -->
	
	<select id="searchLocation"
		resultType="com.project.astour.model.dto.attraction.attraction_tbl">
		SELECT * FROM attraction_tbl WHERE acity like '${acity}%' and agu like '${agu}%' and asort like '%${asort}%' and atitle like '%${atitle}%'
			
	</select>
	
	<!-- gpsselect제목 -->
	<select id="gpsSelectname" resultType="com.project.astour.model.dto.map.GpsRecord">
		select distinct(label_record) from gpsrecord where pk_record=#{pk}
	</select>
	
	<!-- gpsselect -->
	<select id="gpsSelect" resultType="com.project.astour.model.dto.map.GpsRecord">
		<!-- select * from gpsRecord where pk_record=#{pk} and label_record=#{title} -->
		select  time_record, latitude_record, longitude_record
		from gpsrecord
		where (time_record, accuracy_record) in 
		(
		select time_record, min(accuracy_record)
		from gpsrecord
		where pk_record=#{pk} and label_record=#{title} and accuracy_record <![CDATA[<]]> 100 
		group by time_record
		)
		order by time_record
		<!-- select time_record, latitude_record, longitude_record from gpsRecord 
		where pk_record=#{pk} and label_record=#{title} and rowid in 
		(select max(rowid) from gpsRecord group by time_record) order by time_record -->
	</select>
		
</mapper>
