<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="member">

	<!-- 로그인체크 -->
	<select id="loginCheck" resultType="MemberVO">
		SELECT * FROM ASTMember WHERE mid=#{mid} AND mpw=#{mpw}
	</select>
	
	<!-- 아이디 중복 체크 -->
	<select id="idCheck" resultType="int">
		SELECT COUNT(mid) FROM ASTMember WHERE mid=#{mid}
	</select>
	
	<!-- 회원가입 -->
	<insert id="joinMember">
		INSERT INTO ASTMember (mpk, mid, mpw, mname, mphone) 
		VALUES (mem_seq.nextval, #{mid}, #{mpw}, #{mname}, #{mphone})
	</insert>
	
	<!-- 회원 정보 수정 시 가져올 데이터들 -->
	<select id="getInfo" resultType="MemberVO">
		SELECT * FROM ASTMember WHERE mpk=#{mpk}
	</select>
	
	<!-- 해당 프로필 사진 가져오기 -->
	<select id="getProfile" resultType="ProfileVO">
		SELECT * FROM ASTProfile WHERE mpk=#{mpk} ORDER BY ppk DESC
	</select>
	
	<!-- 회원 정보 수정 -->
	<update id="modifyInfo">
		UPDATE ASTMember SET mpw=${mpw}, mname=#{mname}, mphone=#{mphone}
		WHERE mpk=#{mpk}
	</update>
	
	<!-- 회원정보 수정 시 프로필 사진 입력  -->
	<insert id="insertPrf">
		INSERT INTO ASTProfile (ppk, pfile, ppath, mpk) 
		VALUES (prf_seq.nextval, #{pfile}, 'WEB-INF/views/upload/profile', #{mpk})
	</insert>
	
</mapper>

