<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="member">

	<!-- 로그인체크 -->
	<select id="loginCheck" resultType="com.project.astour.model.dto.member.MemberVO">
		SELECT * FROM ASTMember WHERE mid=#{mid} AND mpw=#{mpw}
	</select>
	
	<!-- 아이디 중복 체크 -->
	<select id="idCheck" resultType="int">
		SELECT COUNT(mid) FROM ASTMember WHERE mid=#{mid}
	</select>
	
	<!-- 회원가입 -->
	<insert id="joinMember">
		INSERT INTO astmember (mpk, mid, mpw, mname, mphone) 
		VALUES (mem_seq.nextval, #{mid}, #{mpw}, #{mname}, #{mphone})
	</insert>
	
</mapper>

