<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="sns">

	<!--s.spk, s.stitle, s.scontent, s.sdate, s.mpk, s.stag, s.ssort , m.mname, 
		m.mfile, m.mfile2, m.mpath -->
	<!-- SELECT * FROM sns_tbl where mpk = #{mpk } order by spk desc -->
	<!-- 게시판내용들 -->
	<select id="snsList" resultType="snsVO">
		SELECT * FROM(
		SELECT rownum rnum, a.*
		FROM(
		SELECT substr(st.scontent,1,10) as sct,st.* FROM sns_tbl st
		where mpk = #{mpk } order by spk desc ) a
		)WHERE rnum between #{start } and #{end }
	</select>

	<!-- 게시판 사진하나 -->
	<select id="snsfile" resultType="SnsFileVO">
		select * from snsFile_tbl 
		where sfpk in (select min(sfpk) from snsFile_tbl group by spk) and spk = #{spk}
	</select>

	<!-- 상세보기 -->
	<select id="contentView" resultType="snsVO">
		SELECT * FROM sns_tbl WHERE spk =#{spk}
	</select>
	
	<!-- 상세보기 파일 -->
	<select id="contentViewFile" resultType="SnsFileVO">
		select * from snsFile_tbl where spk = #{spk}
	</select>

    <!-- AST(CSW) -->
	<!-- 게시글 삽입 -->
    <insert id="insBrd">
      INSERT INTO sns_tbl 
      VALUES (sns_seq.nextval, #{stitle}, #{scontent}, sysdate, #{stag}, #{ssort}, 0, #{mpk})
    </insert>
    
    <!-- 게시글 쓸때 파일 테이블의 spk를 사용해야 돼서 -->
    <select id="getSpk" resultType="Integer">
    	SELECT MAX(spk) FROM sns_tbl
    </select>
    
    <!-- 파일 삽입 -->
    <insert id="insBrdFiles">
    	INSERT INTO snsFile_tbl VALUES (sfile_seq.nextval, #{sffile}, 'sns', #{spk})
    </insert>

	<!-- 게시글 삭제 -->
	<delete id="deleteContent">
		DELETE FROM sns_tbl where spk= #{spk}
	</delete>
	
	<!-- 해당 게시글의 파일 테이블의 레코드 삭제 -->
	<delete id="deleteFiles">
		DELETE FROM snsfile_tbl WHERE spk=#{spk}
	</delete>
	
	<!-- 게시물 수정 때 해당하는 파일만 삭제 -->
	<delete id="deletePic">
		DELETE FROM snsfile_tbl WHERE sfpk=#{sfpk}
	</delete>
	
	<!-- 게시글 삭제할 때 해당 댓글들 삭제 -->
	<delete id="deleteReplys">
		DELETE FROM reply_tbl WHERE spk=#{spk}
	</delete>
	
	<!-- 게시글 수정 -->
	<update id="upContent">
		UPDATE sns_tbl SET stitle=#{stitle}, scontent=#{scontent}, stag=#{stag}, ssort=#{ssort}
		WHERE spk=#{spk}
	</update>	
	<!-- AST(CSW) 끝  -->

	<!-- 프로필사진 -->
	<select id="memList" resultType="MemberVO">
		SELECT m.mpk,m.mname,p.ppk,nvl(p.pfile,'mu.jpg') as pfile,
		nvl(p.ppath,'WEB-INF/views/upload/profile') as ppath
		FROM ASTMember m, ASTProfile p WHERE m.mpk=p.mpk(+) and m.mpk=#{mpk}
		order by ppk desc
	</select>

	<!-- 사람검색 -->
	<select id="peopleList" resultType="MemberVO">
	SELECT m.mpk, m.mid, m.mname
	FROM ASTMember m 
	WHERE m.mname LIKE #{mname}
	</select>

	<!-- 메뉴에서 게시글이나 리뷰에 맞게 보여줌 -->
	<select id="reviewSelect" resultType="snsVO">
		SELECT * FROM(
			SELECT rownum rnum, a.*
			FROM(
				SELECT substr(st.scontent,1,10) as sct,st.* 
				FROM sns_tbl st
				where mpk = #{mpk } and ssort = #{ssort } order by spk desc
			)a
		)WHERE rnum between #{start } and #{end }
	</select>
	<!-- 게시글이나 리뷰에 맞게 보여주기 위한 카운트 -->
	<select id="countSsort" resultType="int">
		SELECT count(*) as count
		FROM sns_tbl
		where mpk = #{mpk} and ssort = #{ssort} order by spk desc
	</select>

	<!-- 댓글추가 -->
	<insert id="addReply">
		INSERT INTO reply_tbl VALUES (rep_seq.nextval, #{rcontent}, sysdate, #{spk}, #{mpk})
	</insert>

	<!-- 댓글 불러오기 test 용 나중에 삭제할것 -->
	<select id="test" resultType="SnsReplyVO">
		select rt.*, nvl(af.pfile,'mu.jpg') as pfile ,nvl(af.ppath,'mu.jpg') as ppath,
		am.mname, am.mid from ASTMember am, ASTProfile af, reply_tbl rt
		where am.mpk=af.mpk(+) and am.mpk=rt.mpk and spk=#{spk} order by rpk desc
	</select>

	<!-- 조회수 증가 -->
	<update id="hitsView">
		UPDATE sns_tbl SET shits=shits+1 WHERE spk=#{spk}
	</update>
	
	<!-- 좋아요 추가 -->
	<insert id="likeinsert">
		INSERT INTO ASTLike  VALUES (#{mpk }, #{spk })
	</insert>

	<!-- 좋아요 삭제 -->
	<delete id="likedelete">
		DELETE FROM ASTLike WHERE mpk=#{mpk} and spk=#{spk}
	</delete>
	
	<!-- 좋아요 리스트 -->
	<select id="likeselect" resultType="com.project.astour.model.dto.mypage.LikeVO">
		select * from astlike where mpk=#{mpk} and spk=#{spk}
	</select>
	
	<!-- 좋아요 갯수 -->
	<select id="likecount" resultType="int">
		select count(*) from ASTLike where spk=#{spk}	
	</select>
	
	<!-- 댓글 갯수 -->
	<select id="replyCount" resultType="SnsReplyVO">
		select count(*) as ct from ASTMember am,ASTProfile af,reply_tbl rt
		where am.mpk=af.mpk(+) and am.mpk=rt.mpk and spk=#{spk}
	</select>
	
	<!-- 댓글삭제 -->
	<delete id="replydelete">
		delete from reply_tbl where rpk=#{rpk}
	</delete>
	
	<!-- 댓글수정 하기위해 정보불러오기 -->
   <select id="replyselect" resultType="SnsReplyVO">
	   select mem.mname,rt.* from reply_tbl rt,ASTMember mem 
	   where rt.mpk=mem.mpk and rpk=#{rpk}
	   <!-- select am.mpk,am.mname,nvl(af.pfile,'mu.jpg') as pfile, rt.* 
	   from ASTMember am,ASTProfile af, reply_tbl rt
	   where am.mpk=af.mpk(+) and rt.mpk=am.mpk and rpk=#{rpk} -->
   </select>
   
   <!-- 댓글업데이트 -->
   <update id="replyupdate">
		update reply_tbl set rcontent=#{rcontent},rtime=sysdate where rpk=#{rpk}
   </update>
   
   <!-- 댓글 리스트 보여주기 -->
	<select id="replyView" resultType="SnsReplyVO">
	SELECT * FROM(
	SELECT rownum rnum, a.*
	FROM(
	select rt.*,am.mname, am.mid from ASTMember am,reply_tbl rt
	where am.mpk=rt.mpk and spk=#{spk} order by rpk desc ) a
	)WHERE rnum between #{start} and ${end}
	<!-- SELECT * FROM(
	SELECT rownum rnum, a.*
	FROM(
	select rt.*, nvl(af.pfile,'mu.jpg') as pfile ,nvl(af.ppath,'mu.jpg') as
	ppath,
	am.mname, am.mid from ASTMember am, ASTProfile af, reply_tbl rt
	where am.mpk=af.mpk(+) and am.mpk=rt.mpk and spk=#{spk} order by rpk desc ) a
	)WHERE rnum between #{start} and #{end} -->
	</select>
	<!-- 댓글 리스트 올른사람 사진 가지고오기  -->
	<select id="replyViewFile" resultType="String">
	SELECT nvl(pfile,'mu.jpg')as pfile FROM ASTProfile WHERE MPK = #{mpk} and 
	ppk = (SELECT max(ppk) from ASTProfile where mpk=#{mpk})
	order by ppk desc
	</select>
	
	<!-- 글쓴이의 이름만 가지고오기 -->
	<select id="nameone" resultType="String">
	SELECT ab.mname FROM ASTMember ab,sns_tbl st where ab.mpk=st.mpk and st.spk=#{spk}
	</select>
	
	<!-- 게시판 갯수 조회 -->
	<select id="count" resultType="int">
		select count(*) from sns_tbl where mpk=#{mpk }
	</select>
	
	
	<!-- ranklist -->
	<select id="rankList" resultType="snsVO">
		SELECT * FROM(
		SELECT rownum rnum, a.*
		FROM(
		select spk, stitle, scontent, stag, ssort, shits, mpk,
		rank() over (order by shits desc) as rank from sns_tbl
		where ssort='review') a
		)WHERE rnum between 1 and 3
	</select>	
	
	<!-- ranklist filename -->
	<select id="rankListfile" resultType="String">
		select sffile from snsFile_tbl 
		where sfpk in (select min(sfpk) from snsFile_tbl group by spk) and spk = #{spk}
	</select>
	
	<select id="noimage" resultType="String">
		select aimage from attraction_tbl where atitle=#{stag}
	</select>
	
	<!-- 게시판 댓글 갯수 조회 -->
   <select id="replycountList" resultType="int">
		select nvl(count(*),0) as ct from reply_tbl where mpk=#{mpk} and spk=#{spk}
   </select>

	<!-- 사진첩 (프로필사진) -->
	<select id="profileList" resultType="com.project.astour.model.dto.mypage.Profile">
		select ppk as pk,pfile from ASTProfile where mpk=#{mpk} order by pk desc
	</select>

	<!-- 사진첩 (게사판 사진들) -->
	<select id="blogList" resultType="com.project.astour.model.dto.mypage.Profile">
		select sf.sfpk as pk,sf.sffile as pfile from snsfile_tbl sf,sns_tbl st where sf.spk=st.spk and st.mpk=#{mpk} order by pk desc
	</select>
	
</mapper>
