<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="sns">

	<select id="snsList" 
	resultType="com.project.astour.model.dto.mypage.snsVO"> 
		SELECT *FROM sns_tbl order by spk desc
	</select>
   
   <select id="contentview"
		resultType="com.project.astour.model.dto.mypage.snsVO">
		SELECT *FROM sns_tbl WHERE spk =#{spk }
	</select>
	
	<insert id="insertcontent">
		INSERT INTO sns_tbl (spk, stitle, scontent, sdate, stag, ssort)
		VALUES (sns_seq.nextval, #{stitle}, #{scontent}, sysdate, #{stag}, #{ssort})
	</insert>
	
	<delete id="deletecontent">
		DELETE FROM sns_tbl where spk= #{spk}
	</delete>
	
</mapper>

<!-- #{sfile}, #{spath},  sfile, spath, -->